@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');





body{
    font-family: "Space Grotesk", sans-serif;
}


.mynav{
    display: flex;
    column-gap: 50px;
    justify-content: space-evenly;
    font-size: 20px;
    height: 68px;
    align-items: center;
}

.mynav li{
   
    list-style: none;
}
.mynav li a{
    text-decoration: none;
    color: black;
}
h1{
font-family: "Space Grotesk", sans-serif;
line-height: 76.56px;
font-weight:500;
font-size: 60px;
}
.our{
   font-size: 20px;
   line-height:28px ;
   font-family: "Space Grotesk", sans-serif;
}


.button{
   padding: 2px 30px ;
   border-radius:14px;
   background-color: 
   #191A23;
   color: white;
   line-height:28px ;
   font-family: "Space Grotesk", sans-serif;
   
}
.button:hover,.button:active{
    background-color:  #B9FF66;
    transition: all .5s;
    color: black;
    border-color: #B9FF66;
}

.sponser img{
    filter: grayscale(1);
    transition: all .5s;
}

.sponser img:hover{
    filter: grayscale(0);
}
.para{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    width: 60%;
    align-content: first baseline;
}

.cards{
    border: 1px solid black;
    border-radius: 45px;
    padding: 50px;
}
